.main {
    position: absolute;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.9);
    width: 90%;
    z-index: 2;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.main::after {
    margin-left: 5px;
    background-color: rgba(255, 30, 30, 0.9); 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    animation-name: left-to-ride;
    animation-duration: 3s;
}

@keyframes left-to-ride {
    from {
      width: 0px;
    }
    to {
      width: 96%;
    }
  }


.text_info {
    margin-left: 15px;
}

.main_success {
    position: absolute;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.9);
    width: 90%;
    z-index: 2;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.main_success::after {
    margin-left: 5px;
    background-color: rgba(30, 255, 131, 0.9); 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    animation-name: left-to-ride;
    animation-duration: 3s;
}